# Binaries for programs and plugins
*.exe
nmea-proto-*
*.dll
*.so
*.dylib
*.txt
*.json
*.log
*.sqlite
*.swp

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Temporary files and local caches
*.tmp
.glide/
bin/
dist/
.gocache/
.gomodcache/

# Vendored dependencies
/vendor
